<!DOCTYPE html>
<html lang="{{ page.lang | default: 'fr' }}">
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://jeedom.github.io/documentation-theme/fonts/roboto/roboto.css">
  <link rel="stylesheet" href="https://jeedom.github.io/documentation-theme/css/style.css">
  <link rel="stylesheet" href="https://jeedom.github.io/documentation-theme/css/syntax-github.css">
  <link rel="stylesheet" href="https://jeedom.github.io/documentation-theme/css/materialize.min.css">
  <link rel="stylesheet" href="https://jeedom.github.io/documentation-theme/css/font-awesome5/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="https://jeedom.github.io/documentation-theme/css/lightbox.css">
  <meta http-equiv="Content-Language" content="{{ page.lang | default: 'fr' }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" href="https://jeedom.github.io/documentation-theme/favicon.ico" />
  <style>
    /* Sous-menu dans les collapsibles */
    .collapsible-body ul {
      margin: 0;
      padding: 0;
    }
    .collapsible-body ul li a {
      padding-left: 32px;
      font-size: 0.9rem;
    }
    .collapsible-header {
      cursor: pointer;
    }
    /* Icône de flèche sur les sections dépliables */
    .collapsible-header .section-arrow {
      margin-left: auto;
      transition: transform 0.3s;
    }
    .collapsible-header.active .section-arrow {
      transform: rotate(180deg);
    }
  </style>
</head>
<body>
  <div class="navbar-fixed hide-on-print">
    <nav>
      <div class="nav-wrapper container">
        <a href="#" data-target="slide-out" class="top-nav sidenav-trigger waves-effect waves-light circle hide-on-large-only"><i class="material-icons">menu</i></a>
        <a id="logo-container" href="https://jeedom.github.io/documentations" class="brand-logo center"><img src="https://jeedom.github.io/documentation-theme/img/logo.png" style="height:50px;margin-top:5px"></a>
        <ul id="navTopLeft" class="left hide-on-med-and-down" style="position:fixed;left:0px;width:280px;">
          <li><a href="https://jeedom.github.io/documentations">Jeedom Documentation {{ page.plugin | default: '' }}</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="https://www.jeedom.com" target="_blank">Site</a></li>
          <li><a href="https://blog.jeedom.com" target="_blank">Blog</a></li>
          <li><a href="https://community.jeedom.com" target="_blank">Community</a></li>
          <li><a href="https://market.jeedom.com" target="_blank">Market</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="container hide-on-print">
    <div id="slide-out" class="sidenav sidenav-fixed">
  <ul class="collapsible collapsible-accordion" id="ul_menu">
    
    <li><strong style="margin-left:20px; line-height:40px;"><i class="fas fa-cube"></i> Ressources</strong></li>
    {% assign sorted_pages = site.pages | sort: 'nav_order' %}
    {% for p in sorted_pages %}
      {% assign path_array = p.path | split: "/" %}
      {% if path_array.size == 1 and p.title and p.show_in_menu != false %}
        <li class="{% if p.url == page.url %}active menu_active{% endif %}">
          <a href="{{ p.url | relative_url }}" class="waves-effect">
            <i class="fas {{ p.icon | default: 'fa-file' }}"></i> {{ p.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}

    <li class="divider"></li>

    {% assign pages_by_dir = sorted_pages | group_by_exp: "item", "item.path | split: '/' | first" %}
    
    {% for group in pages_by_dir %}
      {% comment %} On ignore la racine et les dossiers techniques {% endcomment %}
      {% assign excluded = "assets,css,js,img,fonts" | split: "," %}
      {% if group.name == "" or group.name contains "." or excluded contains group.name %}
        {% continue %}
      {% endif %}

      {% comment %} --- LOGIQUE DE VÉRIFICATION DU CONTENU --- {% endcomment %}
      {% assign visible_pages_count = 0 %}
      {% for p in group.items %}
        {% if p.title and p.show_in_menu != false %}
          {% assign visible_pages_count = visible_pages_count | plus: 1 %}
        {% endif %}
      {% endfor %}

      {% comment %} On n'affiche le dossier que s'il contient au moins une page valide {% endcomment %}
      {% if visible_pages_count > 0 %}
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            {% assign folder_active = false %}
            {% for p in group.items %}
              {% if p.url == page.url %}{% assign folder_active = true %}{% endif %}
            {% endfor %}

            <li class="{% if folder_active %}active{% endif %}">
              <a class="collapsible-header waves-effect">
                <i class="fas fa-folder"></i>
                <span>{{ group.name | replace: "-", " " | replace: "_", " " | capitalize }}</span>
                <i class="material-icons right" style="margin-right:0;">arrow_drop_down</i>
              </a>
              <div class="collapsible-body">
                <ul>
                  {% for p in group.items %}
                    {% if p.title and p.show_in_menu != false %}
                      <li class="{% if p.url == page.url %}menu_active{% endif %}">
                        <a href="{{ p.url | relative_url }}" style="padding-left: 50px;">
                          <i class="fas {{ p.icon | default: 'fa-file-alt' }}"></i> {{ p.title }}
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </li>
          </ul>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
  </div>

  <div class="row" id="div_main">
    <div id="div_content" class="col s12 m7 offset-m2 xl9 offset-xl1">{{ content }}</div>
    <div class="col hide-on-small-only m3 xl2">
      <div id="div_summary" style="overflow:auto;height:100%"></div>
    </div>
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="https://jeedom.github.io/documentation-theme/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://jeedom.github.io/documentation-theme/js/lightbox.js"></script>
  <script type="text/javascript" src="https://jeedom.github.io/documentation-theme/js/init.js"></script>
</body>
</html>